<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConMysql" providerName="MySql.Data.MySqlClient"
        connectionString="Server= localhost; Port=3306; Database=appvam; Uid=appvam; Pwd=290394"/>-->
    <add name="ConMysql" providerName="MySql.Data.MySqlClient"
        connectionString="Database=appvam;DataSource=localhost;Port=3306;UserId=appvam;Password=290394"/>
  </connectionStrings>
    
  <configSections>

        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
<entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework></configuration>